# This file contains settings for code editors.
# See https://EditorConfig.org for details.

# ===================== begin_copyright_notice ============================
#
# Copyright (C) 2023 Intel Corporation
#
# SPDX-License-Identifier: MIT
#
# ===================== end_copyright_notice ==============================


# It's the main EditorConfig file for GITS.
root = true

# C++
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

# Python
[*.py]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# External code
[third_party/**]
indent_style = unset
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
max_line_length = unset
