# ===================== begin_copyright_notice ============================
#
# Copyright (C) 2023-2026 Intel Corporation
#
# SPDX-License-Identifier: MIT
#
# ===================== end_copyright_notice ==============================

site_name: GITS Capture Replay Tool  
repo_url: https://github.com/intel/gits
copyright: Copyright &copy; 2025 Intel Corporation All Rights Reserved.
theme:
  logo: assets/images/logoDocs.png
  language: en
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - footnotes
  name: material
  icon:
    edit: material/pencil 
    view: material/eye
    repo: fontawesome/brands/github
  palette:
    # Palette toggle 1: automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode #->2
    # Palette toggle 2: light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode #->3
    # Palette toggle 3: dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to system preference #->1
extra_css:
  - assets/stylesheets/extra.css
plugins:
  search:
    # Spaces, dashes, periods and forward-slash (so serving.knative.dev/blibble can be searched as blibble).
    separator: '[\/\s\-\.]+'
  awesome-pages:
    collapse_single_pages: true
    strict: false
  
nav:
  - Home:
    - 'index.md'
    - 'building.md'
    - 'usage.md'
  - Configuration: 
    - 'configuration/how_to.md'
    - Common: 'configuration/CommonAuto.md'
    - DirectX: 'configuration/DirectXAuto.md'
    - Level Zero: 'configuration/LevelZeroAuto.md'
    - OpenCL: 'configuration/OpenCLAuto.md'
    - OpenGL: 'configuration/OpenGLAuto.md'
    - Vulkan: 'configuration/VulkanAuto.md'
    - Enums: 'configuration/EnumsAuto.md'
  - Documentation:
    - 'documentation/recorder.md'
    - 'documentation/player.md'
    - 'documentation/launcher.md'
    - 'documentation/terminology.md'
    - Streams:
      - 'documentation/streams/binary_stream.md'
    - API:
      - DirectX: 
        - 'documentation/DirectX/Overview.md'
        - 'documentation/DirectX/Plugins.md'
        - 'documentation/DirectX/DirectStorage.md'
        - 'documentation/DirectX/Portability.md'
        - 'documentation/DirectX/CCode.md'
      - Level Zero:
        - 'documentation/LevelZero/l0_gits_indirect_access_pointers_locations.md'
        - 'documentation/LevelZero/lua.md'
        - 'documentation/LevelZero/metagenerator.md'
        - 'documentation/LevelZero/options_features.md'
        - 'documentation/LevelZero/subcaptures.md'
      - OpenCL:
          - 'documentation/OpenCL/Generator.md'
          - 'documentation/OpenCL/cl_gits_indirect_access_pointers_locations.md'
    - 'documentation/lua_scripts.md'        
  - Development:
    - 'development/project.md'
    - 'development/configuration.md'
    - 'development/dependencies.md'
    - 'development/documentation.md'
    - Community:
      - 'development/community/how_to_reproducer.md'
  - 'faq.md'

markdown_extensions:
  - toc:
      baselevel: 3
  - pymdownx.striphtml:
      strip_comments: true
  - pymdownx.critic   # {--deleted--}, {++added++}, {~~1~>2 is a pair~~}, {==Highlighting==}, {>>inline comments<<}
  - pymdownx.caret    # ^^Insert me^^ (underline), A^T^A (superscript)
  - pymdownx.mark     # ==This was marked== (highlight)
  - pymdownx.tilde    # ~~This was deleted~~ (strikethrough), H~2~O (subscript)
  - pymdownx.keys     # ++cmd+ctrl+alt+del++ 
  - pymdownx.details
  - def_list          # - [ ], - [x], 1., ...
  - footnotes         # here [^1] is the link. later: [^1]: blah blah blah.
  - mdx_truly_sane_lists
  - admonition
  - pymdownx.blocks.caption
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
        # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - strip_comments